{% extends 'base.html.jinja' %}

{% block title %}Signals{% endblock %}


{% block content %}
<div class="alert alert-info">
	This is the pre-prototype user interface for linking the ESIDA-mHealth system, a query-based mobile phone application for (community) health workers to support the identification and clustering clinical signs and symptoms. This showcase is designed to allow the input of temporally and spatially qualified signals to test the ESIDA data pipeline and integrated analytic workflows.
</div>

<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
	<a class="btn btn-sm btn-outline-primary mb-2 mb-md-0" href="{{ url_for('signal_create')}}">Enter new signal</a>
	<h1 class="bd-title" id="content">Signals</h1>
</div>

<div class="row">

	<div class="col-12 col-md-6">
		<table id="cases_table" class="table table-sm">
			<thead>
				<tr>
					<th>ID</th>
					<th>Reported</th>
					<th>Health outcome</th>
					<th>Sex</th>
					<th>Age</th>
				</tr>
			</thead>

			<tbody>
			{% for s in signals %}
				<tr>
					<td><a href="{{ url_for('signal_show', signal_id=s.id) }}">{{ s.id }}</a></td>
					<td>{{ s.report_date }}</td>
					<td>{{ s.health_outcome }}</td>
					<td>{{ s.sex }}</td>
					<td>{{ s.age }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<hr>

		<p>
			Verify if similar infectious disease events have occurred in the region on:
		</p>

		<ul>
			<li><a href="https://hmisportal.moh.go.tz/hmisportal/#/home">Tanzania National Health Portal / Ministry of Health</a></li>
			<li><a href="https://www.moh.go.tz/en/tanzania-health-bullettin">Tanzania Public Health Bulletin / Ministry of Health</a></li>
			<li><a href="https://www.afro.who.int/health-topics/disease-outbreaks/outbreaks-and-other-emergencies-updates">WHO African Region Outbreaks and Emergencies Bulletin</a></li>
			<li><a href="https://promedmail.org/">ProMED-mail</a> (global reporting of infectious diseases outbreaks)</li>
			<li><a href="https://www.healthmap.org/en/">HealthMap</a> (global mapping of infectious diseases reports)</li>
		</ul>
	</div>

	<div class="col-12 col-md-6">
		<div id="chart"></div>
		<div id="map" style="width: 100%; height: 600px"></div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script>
    var map = get_base_map('map', {zoom: 6});

    var signals=[]

    {% for s in signals %}
        var s = L.marker([{{ s.point().y}}, {{ s.point().x}}] )
        .bindPopup(`<h5 class="mb-0">Signal #{{s.id}}</h5>
        <table><tbody>
			<tr><th>Reported</th><td>{{ s.report_date }}</td></tr>
			<tr><th>Health outcome</th><td>{{ s.health_outcome }}</td></tr>
			<tr><th>Sex</th><td>{{ s.sex }}</td></tr>
			<tr><th>Age</th><td>{{ s.age }}</td></tr>
		</tbody></table>
        <a href="{{ url_for('signal_show', signal_id=s.id)}}" class="btn btn-link">Details</a>`);
        signals.push(s);
    {% endfor %}

    var group_signals = L.featureGroup(signals).addTo(map);
    var layerControl = L.control.layers().addTo(map);
    layerControl.addOverlay(group_signals, 'Signals');
</script>

<script>
var data = {{ trace|to_json}};
var layout = {
  xaxis: {
	title: {
      text: 'Date',
	}
  },
  yaxis: {
	title: {
      text: 'Cases',
	}
  },
  shapes: [{
	type: 'line',
	xref: 'paper',
	x0: 0,
	y0: 1,
	x1: 1,
	y1: 1,
	line: {
		color: 'rgb(255, 0, 0)',
		width: 1,
		dash:'dot'
	}
  }],
  annotations: [
        {
            showarrow: false,
			xref: 'paper',
            text: "Alert level",
            align: "left",
            x: 0,
            xanchor: "left",
            y: 1,
            yanchor: "bottom"
        }
    ],
  title: 'Alert Board for Suspected Hemorrhagic Fevers'
};

Plotly.newPlot('chart', data, layout);
</script>
<script>
$(document).ready(function() {
	$('#cases_table').DataTable({
		searching: false,
		paging: false,
		columnDefs: [
			{targets: 'no-sort', orderable: false}
		]
	});
});
</script>
{% endblock %}
