{% extends 'base.html.jinja' %}

{% block title %}Signals{% endblock %}


{% block content %}
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <a class="btn btn-sm btn-outline-primary mb-2 mb-md-0" href="{{ url_for('signal')}}">Add new signal</a>
    <h1 class="bd-title" id="content">Signals</h1>
  </div>

  <div class="alert alert-info">
    This is just intended to allow entering temporal and spatially qualified signals for testing the pipeline.
  </div>

  <div class="row">

    <div class="col-12 col-md-6">
      <table class="table table-sm">

        <thead>
          <tr>
            <th>ID</th>
            <th>Reported</th>
            <th>Sex</th>
            <th>Age</th>
          </tr>
        </thead>

        <tbody>
          {% for s in signals %}
            <tr>
              <td><a href="{{ url_for('signal_show', signal_id=s.id) }}">{{ s.id }}</a></td>
              <td>{{ s.report_date }}</td>
              <td>{{ s.sex }}</td>
              <td>{{ s.age }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-12 col-md-6">
      <div id="map" style="width: 100%; height: 800px"></div>
    </div>

  </div>
{% endblock %}

{% block footer %}
<script>
  var osmUrl    = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  var osm       = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

  var map_position = {lat: -6, lng: 35, zoom: 6};

  var map = L.map('map', {
    preferCanvas: true
  }).setView([map_position.lat, map_position.lng], map_position.zoom).addLayer(osm);

  var signals=[]
  {% for s in signals %}
    var s = L.marker([{{ s.point().y}}, {{ s.point().x}}] )
    .bindPopup(`<h4>Signal: {{ s.id }}</h4>`);

    signals.push(s);
  {% endfor %}
  var group_signals = L.featureGroup(signals).addTo(map);

  var layerControl = L.control.layers().addTo(map);
  layerControl.addBaseLayer(osm, 'OSM');
  layerControl.addOverlay(group_signals, 'Signals');

</script>
{% endblock %}
