{% extends 'base.html.jinja' %}

{% block title %}Signal details{% endblock %}

{% block content %}
  <h1>Signal: #{{ signal.id }}</h1>

  <div class="row">
    <div class="col-12 col-md-8">

      <table class="table table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Date</th>
            <td>{{ signal.report_date }}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{ signal.age }}</td>
          </tr>
          <tr>
            <th>Sex</th>
            <td>{{ signal.sex }}</td>
          </tr>
        </tbody>

      </table>


      <p>This signal intersects with in the following areas:</p>

      {% for shape in signal.shapes() %}
      <div class="card mb-3">
        <div class="card-header" style="
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    ">
          <span style="align-self: center;">
            {{shape.name}} <span class="text-muted">(<code>{{ shape.type }}</code>)</span>
          </span>

          <span>
            <button class="btn btn-sm btn-link js-highlight-shape" data-shape_id="{{ shape.id }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="m12.596 11.596-3.535 3.536a1.5 1.5 0 0 1-2.122 0l-3.535-3.536a6.5 6.5 0 1 1 9.192-9.193 6.5 6.5 0 0 1 0 9.193Zm-1.06-8.132v-.001a5 5 0 1 0-7.072 7.072L8 14.07l3.536-3.534a5 5 0 0 0 0-7.072ZM8 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 9Z"></path></svg>
            </button>
          </span>
        </div>
        <div class="card-body">

          <div class="alert alert-{{ results[shape.id]['summary']['style'] }}">
            {{ results[shape.id]['summary']['name'] }}
          </div>

          <h3 class="h5">Reasoning:</h3>


          {% for result in results[shape.id]['steps'] %}
            <div class="m-reasoning pb-2">
              <div class="d-flex align-items-center">

                {% if result['result'] %}
                  <span class="text-success pe-2" style="margin-top: -0.4em">
                    <svg class="icon-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm1.5 0a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm10.28-1.72-4.5 4.5a.75.75 0 0 1-1.06 0l-2-2a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018l1.47 1.47 3.97-3.97a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042Z"></path></svg>
                  </span>
                {% else %}
                  <span class="text-danger pe-2" style="margin-top: -0.4em">
                    <svg class="icon-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2.344 2.343h-.001a8 8 0 0 1 11.314 11.314A8.002 8.002 0 0 1 .234 10.089a8 8 0 0 1 2.11-7.746Zm1.06 10.253a6.5 6.5 0 1 0 9.108-9.275 6.5 6.5 0 0 0-9.108 9.275ZM6.03 4.97 8 6.94l1.97-1.97a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l1.97 1.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-1.97 1.97a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L6.94 8 4.97 6.03a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018Z"></path></svg>
                  </span>
                {% endif %}

                <span data-bs-toggle="collapse" href="#c_{{ shape.id }}_{{ result['spec']['key'] }}" role="button" aria-expanded="false" aria-controls="c_{{ shape.id }}_{{ result['spec']['key'] }}" class="h6 mb-0">{{ result['spec']['name'] }}</span>

                <span class="text-muted ps-2">(<a href="{{ url_for('parameter', parameter_name=result['spec']['datalayer']) }}">{{ result['spec']['datalayer'] }}</a>)</span>
              </div>



              <div class="collapse" id="c_{{ shape.id }}_{{ result['spec']['key'] }}">
              {% for op in result['ops'] %}
              <div class="row ms-3">
                  <div class="col-12 col-sm-6">
                    - Operator: <code>{{ op['op']['op'] }}</code><br>
                    <ul>
                      {% for k, v in op['op']['attrs'].items() %}
                        <li><code>{{ k }}</code>: <code>{{ v }}</code></li>
                      {% endfor %}
                    </ul>

                  </div>
                  <div class="col-12 col-sm-6">

                      <div id="c{{ shape.id }}_{{ result['spec']['datalayer']}}"></div>

                      <script>
window.addEventListener("load", function() {

                      var options = {
                        chart: {
                          height: 180,
                          type: 'line'
                        },
                        series: [],
                        noData: {
                          text: 'Loading data...'
                        },
                        xaxis: {
                          type: 'datetime'
                        },
                        annotations: {
                          xaxis: [{
                              x: new Date('{{ signal.report_date.strftime('%Y-%m-%d') }}').getTime(),
                              borderColor: '#775DD0',
                              label: {
                                style: {
                                },
                                text: 'Signal'
                              }
                            }
                          ],
                          yaxis: [
                            {
                              y: {{ op['op']['attrs']['value'] }},
                              borderColor: '#00E396',
                              label: {
                                borderColor: '#00E396',
                                style: {
                                  color: '#fff',
                                  background: '#00E396'
                                },
                                text: 'Threshold'
                              }
                            }
                          ]
                        }

                      }
                      var chart = new ApexCharts(document.querySelector("#c{{ shape.id }}_{{ result['spec']['datalayer']}}"), options);

                      chart.render();

                      $.getJSON('/shape/{{ shape.id }}/{{ result['spec']['datalayer']}}/{{ result['spec']['datalayer']}}/json', function(response) {
                        if (response['data'].length > 0) {
                          chart.appendSeries({
                            name: '{{ shape.name }}',
                            data: response['data']
                          });
                        }
                      });

                    });
                    </script>

                  </div>
              </div>
              {% endfor %}
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-12 col-md-4">
      <div id="map" style="width: 100%; height: 400px"></div>
    </div>
  </div>
{% endblock %}

{% block footer %}
<script>
var osmUrl    = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
var osm       = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

var map_position = {lat: -6, lng: 35, zoom: 6};

var map = L.map('map', {
  preferCanvas: true
}).setView([map_position.lat, map_position.lng], map_position.zoom).addLayer(osm);

L.marker([{{ signal.point().y}}, {{ signal.point().x}}]).addTo(map);


var shapes = [];
{% for shape in signal.shapes() %}
var s = L.geoJSON({{ shape.geojson()|safe }} )
  .bindPopup(`{% with shape=shape %}{% include 'misc/shape-popup.html.jinja' %}{% endwith %}`);
shapes.push(s);
{% endfor %}
var group_shapes = L.featureGroup(shapes).addTo(map);
map.fitBounds(group_shapes.getBounds());

function highlightShape(e) {
  shapes.forEach(function(s) {
    s.eachLayer(function (layer) {
      if (layer.feature.properties.id == e) {
          layer.setStyle({color: '#FF8000'});
          layer.bringToFront();
          //return;
      } else {
        s.resetStyle(layer);
      }
    });
  });
}

$('.js-highlight-shape').on('click', function(e) {
  highlightShape(parseInt($(this).attr('data-shape_id')));
});

</script>

{% endblock %}
