{% extends 'base.html' %}

{% block title %}{{ parameter['name']}} - Parameters{% endblock %}

{% block head %}
  <link rel="schema.DC"       href="http://purl.org/dc/elements/1.1/" />
  <link rel="schema.DCTERMS"  href="http://purl.org/dc/terms/" />
  <meta name="DC.title"       content="{{ parameter['name'] }}" />
  <meta name="DC.subject"     content="{{ parameter['class'].get_meta('subject') }}" />
  <meta name="DC.creator"     content="{{ parameter['class'].get_meta('creator') }}" />
  <meta name="DC.description" content="{{ parameter['class'].get_meta('description') }}" />
  <meta name="DC.publisher"   content="{{ parameter['class'].get_meta('publisher') }}" />
  <meta name="DC.contributor" content="{{ parameter['class'].get_meta('contributor') }}" />
  <meta name="DC.date"        content="{{ parameter['class'].get_meta('date') }}" />
  <meta name="DC.type"        content="{{ parameter['class'].get_meta('type') }}" />
  <meta name="DC.format"      content="{{ parameter['class'].get_meta('format') }}" />
  <meta name="DC.identifier"  content="{{ parameter['class'].get_meta('identifier') }}" />
  <meta name="DC.source"      content="{{ parameter['class'].get_meta('source') }}" />
  <meta name="DC.language"    content="{{ parameter['class'].get_meta('language') }}" />
  <meta name="DC.rights"      content="{{ parameter['class'].get_meta('rights') }}" />
  <meta name="DC.coverage"    content="{{ parameter['class'].get_meta('coverage') }}" />
{% endblock %}


{% block content %}
  <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
    <a class="btn btn-sm btn-outline-primary mb-2 mb-md-0" href="{{ url_for('download_parameter', parameter_id=parameter['name']) }}">Download all data</a>
    <h1 class="bd-title">{{ parameter['name'] }}</h1>
  </div>

  <div class="row">
    {% if parameter['class'].is_loaded() %}
    <div class="col-12 col-sm-4">

      <p>Available parameter fields:</p>
      <ul>
      {% for pk in parameter['class'].get_fields(only_numeric=False) %}
        <li><code>{{ pk }}</code></li>
      {% endfor %}
      </ul>
    </div>

    <div class="col-12 col-sm-8">
      <p>
        Compare shape against means of regions and districts:
      </p>

      <div class="input-group mb-3" style="max-width: 400px">
        <select class="form-select js-chosen-select" id="js-shape">
          {% for key in shapes.keys() %}
            <optgroup label="{{ key }}">
              {% for shape in shapes[key] %}
                <option value="{{shape['id'] }}">{{ shape['name'] }}</option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>

        <button id="js-add-shape-to-chart" class="btn btn-outline-secondary btn-sm">Add to chart</button>
      </div>

      <div id="chart"></div>
    </div>
    {% else %}
      <div class="col-12">
        <div class="alert alert-warning">Paramter is not loaded into the datbase!</div>
      </div>
    {% endif %}
  </div>

  <div>
    {{ parameter['description_html']|safe }}
  </div>

{% endblock %}



{% block footer %}

{% if parameter['class'].is_loaded() %}
<script>
$(".js-chosen-select").chosen();

var options = {
  chart: {
      height: 350,
      type: 'line',
  },
  dataLabels: {
      enabled: false
  },
  series: [],
  title: {
      text: 'Compare parameter values',
  },
  markers: {
    size: 3,
    hover: {
      sizeOffset: 2
    }
  },
  stroke: {
    width: [1, 1],
    curve: 'straight',
    dashArray: [5, 5]
  },
  noData: {
    text: 'Select data...'
  },
  yaxis: {
    labels: {
      formatter: function (value) {
        var prec = {{ parameter['class'].precision or -1 }}
        if (prec != -1) {
          return value.toFixed(prec);
        }

        return value;
      }
    },
  },
  xaxis: {
    type: 'datetime'
  },

  {% if parameter['class'].time_col == 'year' %}
  tooltip: {
    x: {
      format: "yyyy"
    }
  }
  {% elif  parameter['class'].time_col == 'date' %}
  tooltip: {
    x: {
      format: "yyyy-MM-dd"
    }
  }
  {% endif %}
}

var chart = new ApexCharts(
  document.querySelector("#chart"),
  options
);

chart.render();

$.getJSON('/shape/0/{{ parameter['name'] }}/{{ parameter['name'] }}/json?mean_for=region', function(response) {
  if (response['data'].length > 0) {
    chart.appendSeries({
      name: 'Region (mean)',
      data: response['data']
    });
  }
});
$.getJSON('/shape/0/{{ parameter['name'] }}/{{ parameter['name'] }}/json?mean_for=district', function(response) {
  if (response['data'].length > 0) {
    chart.appendSeries({
      name: 'District (mean)',
      data: response['data']
    });
  }
});

$('#js-add-shape-to-chart').on('click', function(e) {
  var shape_id = $('#js-shape option:selected').val();
  var shape_name = $("#js-shape option:selected").text();
  $.getJSON('/shape/' + shape_id + '/{{ parameter['name'] }}/{{ parameter['name'] }}/json', function(response) {
    chart.appendSeries({
      name: shape_name,
      data: response['data']
    })
  });
});
</script>
{% endif %}
{% endblock %}
