{% extends 'base.html' %}

{% block title %}Regions{% endblock %}

{% block content %}
  <h1>Regions</h1>

  <table class="table table-sm table-striped" id="shapes">
    <thead>
      <tr>
        <th>Region</th>
        <th>Area</th>
        <th class="no-sort">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for shape in shapes %}
      <tr>
        <td class="align-middle">{{ shape.name }}</td>
        <td class="align-middle" data-order="{{ shape.area_sqm }}">{{ shape.human_readable_area() }} km<sup>2</sup></td>
        <td>
          <a href="{{ url_for('download_csv', shape_id=shape.id) }}" download class="btn btn-sm btn-outline-primary">Parameters as CSV</a>
          <a href="{{ url_for('shape', shape_id=shape.id) }}" class="btn btn-sm btn-link">Details</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
{% endblock %}

{% block footer %}
<script>
$(document).ready(function() {
    $('#shapes').DataTable({
      paging: false,
      columnDefs: [
        {targets: 'no-sort', orderable: false }
    ]
    });
} );
</script>

{% endblock %}
