{% extends 'base.html' %}

{% block title %}{{shape['name']}}{% endblock %}


{% block content %}
  <h1>{{ shape['name'] }}</h1>

  <div class="row">

    <div class="col col-md-6">


      <a href="{{ url_for('download_csv', shape_id=shape['id']) }}" download class="btn btn-primary">Parameters as CSV</a>

      <table class="table table-sm">
        <thead>
          <tr>
            <th>Information</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% if shape.type == 'region' %}
          <tr class="table-info">
            <th>Region</th>
            <td><b>{{ shape.name }}</b></td>
          </tr>
          <tr>
            <th>Districts ({{ shape.children|length }})</th>
            <td><ul class="m-0""">{% for child in shape.children %}

              <li><a href="{{ url_for('shape', shape_id=child.id) }}">{{ child.name }}</a></li>

               {% endfor %}</ul></td>
          </tr>
          {% elif shape.type == 'district' %}
          <tr>
            <th>Region</th>
            <td><a href="{{ url_for('shape', shape_id=shape.parent.id) }}">{{ shape.parent.name }}</a></td>
          </tr>
          <tr class="table-info">
            <th>District</th>
            <td><b>{{ shape.name }}</b></td>
          </tr>
          {% else %}
          <tr>
            <th>Type</th>
            <td>{{ shape.type }}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ shape.name }}</td>
          </tr>
          {% endif %}
          <tr>
            <th>Area</th>
            <td>{{ shape.human_readable_area() }} km<sup>2</sup></td>
          </tr>
        </tbody>
      </table>


    </div>

    <div class="col col-md-6">
      <div id="map" class="mb-3" style="width: 100%; height: 400px"></div>

      <div class="mb-3">
        <label for="copy-wkt" class="form-label">Copy <abbr title="Well-known text">WKT</abbr>:</label>
        <div class="input-group">
          <input type="text" id="copy-wkt" class="form-control" value="{{ shape.geom().wkt|safe }}">
          <!-- <button class="btn btn-outline-secondary" type="button" id="copy-button">Copy</button> -->
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Data visualization</h3>
      <p>
        Add different parameters by selecting them in the dropdown.
      </p>
    </div>

    <div class="col-3">
      <div class="mb-3">
        <select class="form-select js-chosen-select" id="series-for-chart" multiple  data-placeholder="Select parameter…">
          {% for p in params %}
              <optgroup label="{{ p.__class__.__name__ | replace("_", " ") }}">
                {% for pk in p.get_fields() %}
                <option data-param="{{ p.__class__.__name__ }}" value="{{ pk }}">{{ pk | replace("_", " ") }}</option>
                {% endfor %}
              </optgroup>
            {% endfor %}
        </select>
      </div>

      {#
      <div class="mb-3">
        <label for="start_date" class="form-label">Start date</label>
        <input type="date" id="start_date" class="form-control">
      </div>
      <div class="mb-3">
        <label for="end_date" class="form-label">End date</label>
        <input type="date" id="end_date" class="form-control">
      </div>
      #}

    </div>
    <div class="col-9">
      <div id="chart"></div>
    </div>

    <div class="col-12">
      <h3>weather data</h3>
      <div id="chart_weather"></div>
    </div>

  </div>

{% endblock %}

{% block footer %}

<script>
var chart_weather = Highcharts.chart('chart_weather', {
  chart: {
    zoomType: 'x'
  },
  title: {
    text: 'Precipitation in {{ shape['name'] }}'
  },
  xAxis: {
    type: 'datetime',
    title: {
      text: 'Date'
    }
  },
  yAxis: {
    title: {
      text: 'mm'
    }
  },
  plotOptions: {

  },

  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },

  series: [
      {
          name: 'chc_chirps',
          data: {{chc_chirps_data|safe}},
          type: 'area',
          marker: {
              enabled: false
          }
      },
      {
          name: 'meteostat',
          turboThreshold: 0,
          data: {{meteostat_data|safe}},
          type: 'area',
          marker: {
              enabled: false
          }
      }
  ]
});
</script>

<script>
$(".js-chosen-select").chosen();

var chart = Highcharts.chart('chart', {
  chart: {
    type: 'spline'
  },

  title: {
    text: 'Parameter values for {{ shape['name'] }}'
  },
  yAxis: {
    title: {
      text: 'Value of parameter'
    }
  },
  xAxis: {
    type: 'datetime',
    title: {
      text: 'Date'
    }
  },

  plotOptions: {
    series: {
      marker: {
        enabled: true
      }
    }
  },

  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },

  responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
  }
});


var column_to_parameter = {};

{% for p in params %}
    {% for pk in p.get_fields() %}
    column_to_parameter['{{ pk }}'] = '{{ p.__class__.__name__ }}';
    {% endfor %}
{% endfor %}

var active = [];

$(".js-chosen-select").on('change', function(e) {
  var selected = $(this).val();
  var done = []

  selected.forEach(function(id) {
    series = chart.get(id);
    if (series) {
      // already in chart...
    } else {
        $.getJSON('/shape/{{ shape['id'] }}/' + column_to_parameter[id] + '/' + id + '/json', function(data) {
          chart.addSeries({
            id: id,
            name: id,
            data: data['data']
          });

        }).fail(function() {
          alert('Sorry, could not load data.')
        });
    }
    done.push(id);
  });

  active.forEach(function(id) {
    if(!done.includes(id)) {
      series = chart.get(id);
      if (series) {
        series.remove();
      }
    }
  });

  active = done;
});
</script>

<script>
  var osmUrl    = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  var osm       = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

  var map_position = {lat: -6, lng: 35, zoom: 10};

  var map = L.map('map', {
    preferCanvas: true
  }).setView([map_position.lat, map_position.lng], map_position.zoom).addLayer(osm);

  shapes=[]
  var s = L.geoJSON({{ shape.geojson()|safe }} );
  shapes.push(s);
  var group_districts = L.featureGroup(shapes).addTo(map);
  map.fitBounds(group_districts.getBounds());


  var meteostat_station = L.marker([{{ meteostat_station['latitude']}}, {{ meteostat_station['longitude']}}]).addTo(map)
		.bindPopup(`<h4>{{ meteostat_station['name'] }}</h4> `);




  var layerControl = L.control.layers().addTo(map);
  layerControl.addBaseLayer(osm, 'OSM');
  layerControl.addOverlay(group_districts, 'Districts');
</script>
{% endblock %}
