{% extends 'base.html.jinja' %}

{% block title %}ESIDA Risk for {{ shape.name }}{% endblock %}

{% block content %}
<h1>ESIDA Risk for {{ shape.name }}</h1>

<div id="temporal"></div>

<hr>

<form method="get">

	<div class="mb-3">
		<label for="when" class="form-label">Select time point for below charts:</label>

		<div class="input-group">
			<select id="when" class="form-select" name="when">
				{% for w in whens %}
				<option value="{{ w }}" {% if w == when %} selected="selected" {% endif %}>{{ w }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-sm btn-primary">Show</button>
		</div>
	</div>
</form>

<p>The black dot is the currently viewed shape, the heatmap shows the the distribution of all shapes with the same type. Be sure to use the autoscale/zoom button of the chart toggles in the upper right when hovering to the chart.</p>

<div id="scatter"></div>


<h2>Explain scores</h2>

<div id="explain"></div>

<div id="explain_impact"></div>

{% endblock %}

{% block footer %}

<script>
var data = {{ traces_temporal|to_json}};
var layout = {
  xaxis: {
	title: {
      text: 'When',
	}
  },
  yaxis: {
	title: {
      text: 'Score',
	}
  },
  title:'Score for {{ shape.name }} over time'
};

Plotly.newPlot('temporal', data, layout);
</script>



<script>

var data = {{ traces|to_json}};

var layout = {
  xaxis: {
	range: [{{ dl_likelihood.step_count() * 1 }}, {{ dl_likelihood.step_count() * 3 }}],
	title: {
      text: 'Likelihood',
	}
  },
  yaxis: {
	range: [{{ dl_impact.step_count() * 1 }}, {{ dl_impact.step_count() * 3 }}],
	title: {
      text: 'Impact',
	}
  },
  title:'Distribution of other shapes in same category ({{ shape.type}}) ({{ when }})'
};

Plotly.newPlot('scatter', data, layout);

</script>


<script>
var data = {{ traces_likelihood|to_json}};
var layout = {
  xaxis: {
	rangemode: 'nonnegative',
	title: {
      text: 'Datalayer',
	}
  },
  yaxis: {
	rangemode: 'nonnegative',
	title: {
      text: 'Score',
	}
  },
  title: 'Likelihood Score development for {{ shape.name }} ({{ when }})'
};

Plotly.newPlot('explain', data, layout);
</script>

<script>
var data = {{ traces_impact|to_json}};
var layout = {
  xaxis: {
	rangemode: 'nonnegative',
	title: {
      text: 'Datalayer',
	}
  },
  yaxis: {
	rangemode: 'nonnegative',
	title: {
      text: 'Score',
	}
  },
  title: 'Impact Score development for {{ shape.name }} ({{ when }})'
};

Plotly.newPlot('explain_impact', data, layout);
</script>

{% endblock %}
