{% extends 'base.html.jinja' %}

{% block title %}ESIDA Risk Matrix{% endblock %}

{% block content %}
<h1>ESIDA Risk Matrix</h1>

<div class="alert alert-warning" role="alert">
	The data layer <code>esida_risk_likelihood</code> and <code>esida_risk_impact</code> need to be loaded for this view.
</div>
{% endblock %}
