{% extends 'base.html.jinja' %}

{% block title %}Data Layers{% endblock %}

{% block content %}

<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
  <div class="d-grid gap-1 d-md-flex justify-content-md-end">
    <a class="btn btn-sm btn-outline-primary" href="{{ url_for('api_parameters', format='csv') }}">Download</a>
  </div>

  <h1>Data Layers</h1>
</div>

	<table class="table table-sm table-striped" id="shapes">

	<thead>
		<tr>
			<th>Category</th>
			<th>Parameter</th>
			<th>Key</th>
			<th>State</th>
			<th class="no-sort text-end">Actions</th>
		</tr>
	</thead>

	<tbody>
	{% for parameter in parameters %}
	<tr>
		<td class="align-middle">{{ parameter['class'].get_category() }}</td>
		<td class="align-middle"><a class="link-subtle" href="{{ url_for('parameter', parameter_name=parameter['name']) }}">{{ parameter['class'].get_title() }}</a></td>
		<td class="align-middle"><code>{{ parameter['name'] }}</code></td>
		<td class="dl-state-pill" data-order="{{ parameter['class'].is_loaded }}">
			{% if parameter['class'].is_loaded %}
			<span class="badge rounded-pill text-bg-success" data-bs-toggle="tooltip" data-bs-title="Loaded">
				{% include "svg/check-circle.svg" %}
			</span>
			{% elif parameter['class'].is_loaded is none %}
			<span class="badge rounded-pill text-bg-secondary" data-bs-toggle="tooltip" data-bs-title="Queries on demand for clipping i.e.">
				{% include "svg/skip.svg" %}
			</span>
			{% else %}
			<span class="badge rounded-pill text-bg-warning" data-bs-toggle="tooltip" data-bs-title="Not loaded">
				{% include "svg/x-circle.svg" %}
			</span>
			{% endif %}
		</td>
		<td>
			<div class="d-flex justify-content-end">
				<a href="{{ url_for('parameter', parameter_name=parameter['name']) }}"  class="btn btn-sm btn-link">Details</a>
			</div>
		</td>
	</tr>
	{% endfor %}
	</tbody>

  </table>
{% endblock %}

{% block footer %}
<script>
$(document).ready(function() {
    $('#shapes').DataTable({
      pageLength: 25,
      columnDefs: [
        {targets: 'no-sort', orderable: false }
    ]
    });
} );
</script>

{% endblock %}
