{% extends 'base.html.jinja' %}

{% block title %}{{shape['name']}}{% endblock %}


{% block content %}

<div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
  <div class="d-grid gap-1 d-md-flex justify-content-md-end">

    <a class="btn btn-sm btn-outline-primary" href="{{ url_for('download_csv', shape_id=shape.id) }}">Download all data</a>

    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Download shape
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" download="{{ shape.name|slugify}}.geojson" href="{{ url_for('api_shapes', shape_id=shape.id, format='json') }}">GeoJSON</a></li>
        <li><a class="dropdown-item" download="{{ shape.name|slugify}}.wkt" href="{{ url_for('api_shapes', shape_id=shape.id, format='wkt') }}">WKT</a></li>
      </ul>
    </div>
  </div>

  <h1 class="bd-title">{{ shape.name }}</h1>
</div>


  <div class="row">

    <div class="col col-md-6">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Information</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% if shape.parent %}
          <tr>
            <th>Parent</th>
            <td><a href="{{ url_for('shape_show', shape_id=shape.parent.id) }}">{{ shape.parent.name }}</a></td>
          </tr>
          {% endif %}

          <tr class="table-info">
            <th>Type</th>
            <td>{{ shape.type.title() }}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ shape.name }}</td>
          </tr>

          {% if shape.children|length > 0 %}
          <tr>
            <th>Children ({{ shape.children|length }})</th>
            <td><ul class="m-0""">{% for child in shape.children %}

              <li><a href="{{ url_for('shape_show', shape_id=child.id) }}">{{ child.name }}</a></li>

               {% endfor %}</ul></td>
          </tr>
          {% endif %}

          <tr>
            <th>Area</th>
            <td>{{ shape.human_readable_area() }} km<sup>2</sup></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col col-md-6">
      <div id="map" class="mb-3" style="width: 100%; height: 400px; z-index: 1"></div>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col-12">

        <h2>Latest values</h2>

        <p>
          In the following table for each loaded Data Layer it's corresponding value for this shape is shown.
        </p>

        <table class="table table-sm caption-top js-datatable">
          <caption>Latest value per parameter</caption>
          <thead>
            <tr>
              <th>Category</th>
              <th>Parameter</th>
              <th>Date</th>
              <th>Value</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
            {% for p in params %}
            <tr>
              <td class="align-middle">{{ p.get_category() }}</td>

              <td class="align-middle">
                <a href="{{ url_for('parameter', parameter_name=p.parameter_id) }}">{{ p.get_title() }}</a>
                <span class="visually-hidden">{{ p.parameter_id }}</span> <!-- hidden, only for search with DataTables -->
              </td>

              {% set peek = shape.get(p, obj=True, fallback_parent=True) %}
              {% if peek.has_value() %}
                <td class="text-end text-nowrap" style="{% if peek.is_inferred() %} background-color: {{peek.get_color()}}; {% endif %}">
                  {% if peek.is_inferred() %}
                    <a role="button" style="float:left" tabindex="0" title="Inferred from parent shape" data-bs-trigger="focus" data-bs-html="true" data-bs-toggle="popover" data-bs-content="This value is not available on this shape and was inferred from <a href='{{ url_for('shape_show', shape_id=peek.get_shape().id) }}'>{{ peek.get_shape().name }}</a> ({{ peek.get_shape().type }}).">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>
                    </a>
                  {% endif %}

                  {{ peek.get_time_col() }}
                </td>
                <td class="text-end border-end" style="{% if peek.is_inferred() %} background-color: {{peek.get_color()}}; {% endif %}">
                  {{ p.format_value(peek.get_value()) }}
                </td>
              {% else %}
                <td colspan="2" class="text-center text-muted text-bg-light small">N/A</td>
                <td style="display: none;"></td> {# DataTable needs a cell... #}
              {% endif %}
              <td>{{ p.get_unit() }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Data visualization</h2>
      <p>
        Add different parameters by selecting them in the dropdown.
      </p>
    </div>

    <div class="col-3">
      <div class="mb-3">
        <select class="form-select js-chosen-select" id="series-for-chart" multiple  data-placeholder="Select parameter…">
          {% for p in params %}
            <option value="{{ p.parameter_id }}">{{ p.get_title() }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label for="start_date" class="form-label">Start date</label>
        <input id="start_date" class="form-control form-control-sm" type="number" placeholder="YYYY" min="1900" max="2100">
        {# Use type="number" instead of "date" since the year is not easy selectable and #}
        {# <input type="date" id="start_date" class="form-control"> #}
      </div>
      <div class="mb-3">
        <label for="end_date" class="form-label">End date</label>
        <input id="end_date" class="form-control form-control-sm" type="number" placeholder="YYYY" min="1900" max="2100">
        {# <input type="date" id="end_date" class="form-control"> #}
      </div>
      <hr>
      <div class="mb-3">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button id="dl_filtered" class="btn btn-primary">Download selected data</button>
          <a href="{{ url_for('download_csv', shape_id=shape.id) }}" class="btn btn-outline-primary">Download all data</a>
        </div>

      </div>

    </div>
    <div class="col-9">
      <div id="chart"></div>
    </div>
  </div>

{% endblock %}

{% block footer %}
<script>
$(".js-chosen-select").chosen();

var chart = Highcharts.chart('chart', {
  chart: {
    type: 'spline'
  },

  title: {
    text: 'Parameter values for {{ shape['name'] }}'
  },
  yAxis: {
    title: {
      text: 'Value of parameter'
    }
  },
  xAxis: {
    type: 'datetime',
    title: {
      text: 'Date'
    }
  },

  plotOptions: {
    series: {
      marker: {
        enabled: true
      }
    }
  },

  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },

  responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
  }
});

var active = [];
$(".js-chosen-select").on('change', function(e) {
  var selected = $(this).val();
  var done = []

  selected.forEach(function(id) {
    series = chart.get(id);
    if (series) {
      // already in chart...
    } else {

        var options = {}

        if ($("#start_date").val()) {
          options['start_date'] = $("#start_date").val();
        }
        if ($("#end_date").val()) {
          options['end_date'] = $("#end_date").val();
        }

        $.getJSON('/shape/{{ shape['id'] }}/' + id + '/' + id + '/json', options, function(data) {
          chart.addSeries({
            id: id,
            name: id,
            data: data['data']
          });

        }).fail(function() {
          alert('Sorry, could not load data.')
        });
    }
    done.push(id);
  });

  active.forEach(function(id) {
    if(!done.includes(id)) {
      series = chart.get(id);
      if (series) {
        series.remove();
      }
    }
  });

  active = done;
});

$("#start_date, #end_date").on('change', function() {
  active = [];
  while(chart.series.length > 0) {
    chart.series[0].remove(true);
  }
  $(".js-chosen-select").trigger('change');

});


$('#dl_filtered').on('click', function(e) {
  var options = {}

  if ($("#start_date").val()) {
    options['start_date'] = $("#start_date").val();
  }
  if ($("#end_date").val()) {
    options['end_date'] = $("#end_date").val();
  }

  pars = [];
  active.forEach(function(el) {
    pars.push(column_to_parameter[el]);
  })
  options['filter_parameters'] = [...new Set(pars)];

  const params = new URLSearchParams(options);
  const url = '{{ url_for('download_csv', shape_id=shape.id) }}';

  window.location = url + '?' + params.toString();
});

</script>

<script>
  var osmUrl    = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
  var osm       = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

  var map_position = {lat: -6, lng: 35, zoom: 10};

  var map = L.map('map', {
    preferCanvas: true,
    loadingControl: true
  }).setView([map_position.lat, map_position.lng], map_position.zoom).addLayer(osm);

  var layerControl = L.control.layers().addTo(map);
  layerControl.addBaseLayer(osm, 'OSM');

  load_shape(map, {shape_id: {{shape.id}}}, '{{ shape.name}}', layerControl);
</script>
{% endblock %}
