.footer-copy {
  border-top: 1px solid var(--bs-gray-200);
}


.table-meta_data thead th:first-child {
  width: 33%;
}


.link-subtle {
  color: currentColor;
  text-decoration: none;
}
.link-subtle:hover,
.link-subtle:focus {
  text-decoration: underline;
}
